*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .app-cont{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .my-btn{
    padding: 10px;
    border: none;
    background-color: lightblue;
    margin-right: 25px;
  }